/*  REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* REGOLE DIV ESTERNO */
.global {
  margin: 0 auto;
  width: 1080px;
}


/* REGOLE HEADER */
header {
  width: 100%;}
  /* debug */

/* logo */
#logo {
  width:150px;
}

/* nav */
.navbar-header li {
  display: inline-block;
  margin: 30px 2% 0 0;
}

li > a {
  color: grey;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

/* REGOLE MAIN */

/* prima section */
#jumbotron {
  height: 450px;
  margin: 30px 0 30px 0;
  /* debug */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
}

/* immagine */
.copertina {
  width: 100%;
  margin-top: -140px;
  opacity: 0.8;
}

/* testo immagine */
.figcaption-copertina {
  position: absolute;
  left: 20px;
  bottom: 15%;
}

.figcaption-copertina > * {
  color: white;
  text-decoration: none;
}



/* seconda section */

/* clearfix */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* div conrtenitore dei float */
.row {
  background-color: blue;
}

/* elementi float */
.row > * {
  height: 300px;
  float: left;
  margin-bottom: 10px;

  background-color: lightblue;
}

.title-bar {
  height: 100px;
  width: 100%;
}

.aside {
  width: 20%;
}

.articolo {
  width: 56%;
  margin: 0 2%;
}

/* regole footer */
footer {
  height: 80px;
  margin-top: 10px;

  background-color: purple;
}
